{{#if background}}
<style>
   .bg-cover2 {
      background-image: url({{ img_url background size='xl'}});
   }

   @media(max-width: 1000px) {
      .bg-cover2 {
         background-image: url({{img_url background size='l'}});
      }
   }

   @media(max-width: 600px) {
      .bg-cover2 {
         background-image: url({{img_url background size='m'}});
      }
   }
</style>
<section class="slider-area bg-cover2">
   {{else}}
   <section class="slider-area bg-color2">
      {{/if}}
      <div class="slider-wrapper section-spacing">
         <div class="container">
            <div class="row justify-content-md-center">
               <div class="col-md-8">
                  <div class="slider-content text-center wow fadeInUp" data-wow-duration="0s">
                     <h2 class="heading-1">{{@site.title}}</h2>
                     <h2 class="heading-2">{{@site.description}}</h2>

                     {{!-- <form action="#" class="slider-search-form" method="get" target="_top">
                        <div class="input-group">
                           <input type="text" id="ghost-search-field" name="q" class="form-control search-input"
                              placeholder="{{t "Type your keywords..."}}">
                           <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                           </span>
                        </div>
                     </form>

                     <div id="gh-search-results" class="search-results"></div> --}}

                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>